<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Cursuri", "Index", "Courses")</li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Studenti", "Index", "Students")</li>
                        <li>@Html.ActionLink("Profesori", "Index", "Professors")</li>
                    }
                    <li>
                        @*SEARCH BAR*@
                        <form class="card card-sm" method="GET" style = "margin-top: 2.5%;">
                            <div class="card-body no-gutters align-items-center">
                                <div">
                                    <i class="fas fa-search h4 text-body"></i>
                                </div">
                                <input class="form-control form-control-lg form-controlborderless " type="text" name="search"
                                        value="@ViewBag.SearchString"
                                        placeholder="Cauta studenti" style="width: 75%; display:inline-block;">
                                <button class="btn btn-success"
                                        type="submit" href="/Students/Search" style="float: right; background-color: #36b4e8; color: black">
                                    Cauta
                                </button>
                            </div>
                        </form>
                    </li>
                </ul>
               
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
