@model PracticaV1.Models.Student
@{
    ViewBag.Title = "Show";
}
<div>
    <br /><br />
    <a class="btn btn-info btn-sm" href="/Students/Index" style="background-color: #7d5424; color: white;">Inapoi</a>
    <br /> <br />
</div>

<div class="panel panel-default customBorder bcolor showEntity">
    <div class="panel-body text-center">
        <strong>Student: </strong>
        <strong>@Model.FirstName</strong>
        <strong>@Model.LastName</strong>
        <br />
        <span class="label label-success" style="background-color: #7d5424;">An de studiu: @Model.YearOfStudy</span>
        <br />
        @if (User.IsInRole("Admin") || (User.IsInRole("User") && @Model.UserId == ViewBag.UserId))
        {
            <a class="btn-sm btn-warning pull-left" href="/Students/Edit/@Model.StudentId">Modifica profil</a>
        }
            @if (User.IsInRole("Admin"))
            {
                <form method="post" action="/Students/Delete/@Model.StudentId">
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button class="btn-sm btn-danger pull-right" type="submit"> Sterge student </button>
                </form>
            }
        </div>
</div>

<div class="">
    <div class="panel-heading text-center customBorder bcolor showEntity" style="margin-bottom: 0px !important;"> <strong> Cursuri asignate </strong> </div>
    <div class="panel-body showEntity" >
        @foreach (var course in Model.Courses)
        {
        <div class="divList customBorder bcolor text-center" style="margin-bottom: 5%">
            
            <p style="padding-top: 3%"> <strong>@course.CourseName</strong></p>

            <a class="btn btn-info btn-sm" href="/Courses/Show/@course.CourseId" style="background-color: #7d5424; color: white;">Vezi curs</a>
            
            <hr />
        </div>
        }

    </div>
</div>